<div class="column epa">
	<div style="max-width: 1200px" class="col self-center">
		<div class="row justify-between q-mb-lg">
			<div class="col">
				<h2 class="">EPA {{epa.num}}: {{epa.name}}</h2>
			</div>
			<div class="col text-right">Assessing student {{student.name}}</div>
		</div>
		<q-form @@submit="submitEpa" v-bind="assessment">
			<div class="row q-mb-sm text-center">
				<div class="col" v-for="level in levelOptions">
					{{level.text}}
				</div>
			</div>
			<div class="row q-mb-md">
				<div class="col q-mx-sm text-center" v-for="level in levelOptions">
					<q-btn :label="level.label"
						   push
						   unelevated
						   size="lg"
						   dense
						   style="width:100%;"
						   :color="assessment.level == level.value ? 'blue-7' : 'white'"
						   :text-color="assessment.level == level.value ? 'white' : 'blue-7'"
						   @@click="assessment.level = level.value">
					</q-btn>
				</div>
			</div>
			<q-input type="textarea" outlined dense v-model="assessment.comment" class="q-mb-md"
					 label="Comments: What should the student keep doing? How can they improve performance?"></q-input>
			<q-btn no-caps label="Submit EPA" type="submit" padding="xs sm" color="primary"></q-btn>
		</q-form>
	</div>
</div>

@section Scripts {
	<script asp-add-nonce="true">
		createVueApp({
			data() {
				return {
					epa: {"name": "Physical Examination", "num": "1B"},
					student: {"name": "Firstname Lastname"},
					levels: [
						{ "number": 1 },
						{ "number": 2 },
						{ "number": 3 },
						{ "number": 4 },
						{ "number": 5 }
					],
					levelOptions: [
						{ label: "1", value: 1, slot: 'one', text: "Knowledge of, did not perform" },
						{ label: "2", value: 2, slot: 'two', text: "Trust with direct supervision" },
						{ label: "3", value: 3, slot: 'three', text: "Trust with indirect supervision" },
						{ label: "4", value: 4, slot: 'four', text: "Independent, remote supervision" },
						{ label: "5", value: 5, slot: 'five', text: "Supervise junior learners" }
					],
					assessment: {comment: "I am a comment", level: 0, level2: 0}
				}
			},
			methods: {
				submitEpa: function() {

				},
				selectLevel: function(levelValue) {
					this.assessment.level = levelValue
				}
			}
		})
	</script>
}