@{
	ViewData["Title"] = "Access Denied";
	ViewData["AllowAnonymousContent"] = true;
}
<h1 class="text-danger">Access Denied</h1>
<h2 class="text-danger">You do not have permission to access this page or feature.</h2>

@if (!String.IsNullOrWhiteSpace(ViewBag.errorMessage))
{
	<p>@ViewBag.errorMessage</p>
}