@{
	ViewData["Title"] = "Access Denied";
	ViewData["AllowAnonymousContent"] = true;
}
<h3 class="text-danger">Access Denied</h3>
<h4 class="text-danger">You do not have permission to access this page or feature.</h4>

@if (!String.IsNullOrWhiteSpace(ViewBag.errorMessage))
{
	<h4>@ViewBag.errorMessage</h4>
}