@{
    ViewData["Title"] = "Home Page";
}
<div>
    <a asp-area="RAPS">RAPS</a>
    <h4>Welcome to the <em>Veterinary Information Portal and Educational Resource</em> - Version 2.0</h4>
    <p>Stay tuned for many more updates in the future!</p>
</div>
