@using System.Net;
@model HttpStatusCode
@{
	ViewData["Title"] = "Error";
	ViewData["AllowAnonymousContent"] = true;
}
<h1 class="text-danger">Status Code: @((int)Model); @(Enum.GetName(typeof(HttpStatusCode), Model.ToString()))</h1>