h2.epa {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 4px;
}

div.levelSelection button {
    border: 1px solid rgb(30, 136, 229);
    color: rgb(30, 136, 229);
    width: 100%;
    margin-bottom: 0.2rem;
}

div.levelSelection button.selectedLevel {
    background-color: rgb(30, 136, 229);
    color: white;
}
