html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*Top nav/header styles*/
#mainLayoutHeader {
    background-color: #022851;
    /*background-color: white;*/
}

#mainLayoutViper {
    font-family: Proxima Nova;
    font-size: 1.6em;
    font-weight: normal;
    vertical-align: bottom;
    margin-left: .6em;
}

#mainLayoutViperMode {
    margin-left: .6em;
    margin-top: .2em;
    vertical-align: bottom;
    color: red;
}

#mainLayoutHeaderSections {
    background-color: #1D4776;
}

#mainLayoutHeaderSections .selectedTopNav {
    background-color: #4F7094;
}

/*Left Nav styles*/
#leftNavMenu {
    /*background-color: #E5E5E5;*/
}

#leftNavMenu h2 {
    font-size: 1.4rem;
    margin: 0;
    line-height: 1.5rem;
    padding: .2rem .5rem .1rem .5rem;
    font-weight: bold;
}

#leftNavMenu .leftNavHeader {
    font-weight: bold;
    font-size: 1rem;
    padding: 1.5rem .5rem .1rem .5rem;
    /*background-color: #FFD24C;*/
    /*color: white;*/
}

#leftNavMenu .leftNavSpacer {
    border: 0;
}

#leftNavMenu .leftNavLink {
    padding-left: .5rem;
    /*background-color: #CDD6E0;*/
}

/*Footer styles*/
#footerNavLinks a {
    text-decoration: none;
}

#footerNavLinks a:hover {
    text-decoration: underline;
}

.sticky-header-table {
    /* height or max-height is important */
    height: 600px;
}

.q-table__top,
.q-table__bottom,
.q-table__middle table thead tr:first-child th {
    /* bg color is important for th; just specify one */
    background-color: #eee;
    white-space: nowrap;
}

.q-table__container {
    margin-bottom: 1.5rem;
}

.sticky-header-table .q-table__middle table thead tr th {
    position: sticky;
    z-index: 1;
}

.sticky-header-table .q-table__middle table thead tr:first-child th {
    top: 0
}
    
/* this is when the loading indicator appears */
.q-table--loading thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
}
    
/* prevent scrolling behind sticky top row on focus */
.sticky-header-table .q-table__middle table tbody {
    /* height of all previous header rows */
    scroll-margin-top: 48px;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.q-page-container h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 1rem 0rem;
}
