<h2>Permissions</h2>
<q-table title="Permissions"
         dense
         row-key="permissionId"
         :loading="permissionTable.loading"
         :rows="permissionTable.rows"
         :columns="permissionTable.columns"
         :filter="permissionTable.filter"
         :rows-per-page-options="permissionTable.rowsPerPageOptions"
         v-model:pagination="permissionTable.pagination"
         @@request="(props) => permissionTable.request(props, this)">
    <template v-slot:top-right>
        <q-input v-model="permissionTable.filter" dense outlined debounce="300" placeholder="Filter results" class="q-ml-xs q-mr-xs">
            <template v-slot:append>
                <q-icon name="filter_alt" />
            </template>
        </q-input>
    </template>
    <template v-slot:body-cell-action="props">
        <q-td :props="props">
            <q-btn :props="props" dense flat square color="primary" size="sm" padding="xs" icon="security" title="Edit list of roles that grant this permission" :href="'PermissionRolesRO?permissionId=' + props.row.permissionId"></q-btn>
            <q-btn :props="props" dense flat square color="primary" size="sm" padding="xs" icon="groups" title="View list of all users with this permission (individually or via role)" :href="'AllMembersWithPermission?permissionId=' + props.row.permissionId"></q-btn>
        </q-td>
    </template>
</q-table>

@section Scripts {
    <script src="~/js/qtable.js"></script>
    <script asp-add-nonce="true">
        createVueApp({
            data() {
                return {
                    permissionTable: new quasarTable({
                        keys: "permissionId",
                        urlBase: "Permissions",
                        columns: [
                            { name: "action", field: "permissionId", align: "left", style: "width:75px;" },
                            { name: "permission", label: "Permission", field: "permission", sortable: true, align: "left" },
                            { name: "description", label: "Description", field: "description", sortable: false, align: "left" }
                        ]
                    })
                }
            },
            mounted() {
                this.permissionTable.load(this)
            }
        })
    </script>
}